<div class="container-flex-row sign-in-container">
	<div class="box-default form-center container-flex-column">
		<span class="form-title">
			Sign in
		</span>
		<form [formGroup]="login" (ngSubmit)="onSubmit()" #formDir="ngForm">
			<div class="form-group container-flex-column">
				<label for="loginEmail">Email address</label>
				<span class="input-default">
					<input id="loginEmail"  size="23" formControlName="loginEmail" placeholder="Email address" required>
				</span>
			</div>

			<div class="form-group container-flex-column">
				<label for="loginPassword">Password</label>
				<span class="input-default">
					<input id="loginPassword" type="password" size="23" maxlength="24" formControlName="loginPassword" placeholder="Password" required>
				</span>
			</div>

			<div class="form-validate container-flex-column">
				<button class="button-blue" type="submit" [disabled]="!formDir.form.valid">Login</button>
			</div>
		</form>
	</div>
</div>