<p><b>About this website</b></p>
<div class="separation-line"></div>
<p>
	<span class="about-title-sitename">La Vitrine de Jean-Louis </span> is currently a prototype website made by a French developer and artist to promote his creations and skills in terms of web development. Entirely made with Angular 6 and NodeJS, this prototype allows you to browse and select some creations in the gallery and send a request for a checkout. For now, no real checkout are enabled, all you see is just a test, but you can feel free to <a routerLink="/contact">contact me</a> to discuss either about my creations or my web-development skills.
	<br><br>
	As you browse the gallery, you will be able to see some hand-crafted keycaps made of epoxy resin. You can discover some copper-based hand-crafted jewelry too. They are all original prototypes and a lot of them are to come soon.
</p>
<div class="separation-line"></div>