.container-fullscreenImage {
	background: rgba(0, 0, 0, 0.65);
	position: fixed;
	/*pointer-events: none;*/
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 50;
}
.container-fullscreenImage img {
	display: block;
}
.fullscreenImage-image {
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 51;
}

.fullscreenImage-zoom {
	background-position: 50% 50%;
	background-size: 300%;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 52;
}