<ul class="account-categories-list">
	<li>
		<a routerLink="/account/summary/">
			<span class="cat-list-dot">›</span>Summary
		</a>
	</li>
	<li>
		<a routerLink="/account/settings/">
			<span class="cat-list-dot">›</span>Settings
		</a>
	</li>
	<li>
		<a routerLink="/account/cart/">
			<span class="cat-list-dot">›</span>Basket
		</a>
	</li>
	<li>
		<a routerLink="/account/orders/">
			<span class="cat-list-dot">›</span>Order history
		</a>
	</li>
	<li>
		<a (click)="logout()">
			<span class="cat-list-dot">›</span>Logout
		</a>
	</li>
</ul>