<p>
	Welcome to <span class="home-title-sitename">La Vitrine de Jean-Louis.</span>
	<br>
	<span class="note">For now, this is mostly a gallery and a test more than a real shop.</span>
</p>

<div class="separation-line"></div>

<div class="toxicSeries">
	Check out the new <b class="toxic-text-shadow">Toxic Series</b> :
</div>
<div class="toxic-container container-flex-column">
	<div class="toxic-series-title">
		<img src="assets/img/toxic/toxicSeries.png" class="toxic-series">
		<img src="assets/img/toxic/toxic-logo.png" class="toxic-logo">
	</div>
	<div class="toxic-background">
		<a routerLink="/products-cat/keycaps/product-detail/keycap_green_toxic_gas">
			<img src="assets/img/toxic/toxicGreenGas.png">
		</a>
		<a routerLink="/products-cat/keycaps/product-detail/keycap_toxic_blood">
			<img src="assets/img/toxic/toxicBlood.png">
		</a>
	</div>
	<div class="toxic-bottom"></div>
</div>

<br><br><br>

<span>And more <a routerLink="/products-cat/keycaps">keycaps in our gallery</a> !</span>

<br><br>